In [77]:
import pandas as pd
from os.path import dirname
import numpy as np

In [78]:
dataset = pd.read_csv('../dataset/pet_supplies.csv', skipinitialspace=True)

In [79]:
newDF = pd.DataFrame(columns = ['src','dest'], data = dataset[["id", "children"]].to_numpy())

In [80]:
edge_list = dataset[["id", "children"]]
edge_list.columns = ['src','dest']

In [81]:
src_arr = []
dest_arr = []
ids = []
for _, row in edge_list.iterrows():
    src = row.src
    dest_list = row.dest.strip('][').split(', ')
    for dest in dest_list:
        dest_arr.append(dest)
        src_arr.append(src)
src_to_dest = pd.DataFrame({
    "src": src_arr,
    "dest": dest_arr
})

In [82]:
src_to_dest

      src dest
0       0    1
1       0    2
2       0    3
3       0    4
4       0    5
5       0    6
6       0    7
7       0    8
8       0    9
9       0   10
10      0   11
11      0   12
12      0   13
13      0   14
14      0   15
15      0   16
16      0   17
17      0   18
18      0   19
19      0   20
20      0   21
21      0   22
22      0   23
23      0   24
24      0   25
25      0   26
26      0   27
27      0   28
28      0   29
29      0   30
...   ...  ...
973   525
974   526
975   527
976   528
977   529
978   530
979   531
980   532
981   533
982   534
983   535
984   536
985   537
986   538
987   539
988   540
989   541
990   542
991   543
992   544
993   545
994   546
995   547
996   548
997   549
998   550
999   551
1000  552
1001  553
1002  554

[1003 rows x 2 columns]

In [83]:
# src_to_dest = src_to_dest[src_to_dest['src'] == 493]

In [93]:
# src_to_dest['src']

In [195]:
raw_edges = pd.read_csv('../dataset/pet_supplies_edges.csv')
raw_nodes = pd.read_csv('../dataset/pet_supplies.csv')

In [196]:
CategoryToSearch="Flea & Tick Center"
# CategoryToSearch="Fish & Aquatic Pets"

In [197]:
input_ids = raw_nodes[raw_nodes['name'] == CategoryToSearch]['id']
input_id = input_ids.iloc[0]
edge1 = raw_edges[raw_edges['src'] == int(input_id)]

In [198]:
edge1

     src  dest
184   29    36

In [199]:
graphDepth=0

In [200]:
# n level filtering
edges_to_append = pd.DataFrame()
for i in range(1,graphDepth+1):
    print(i)
    print("edges_to_append")
    print(edges_to_append)
    if (edges_to_append.empty and i==1):
        curr_edges = edge1
    else:
        curr_edges = edges_to_append
        edges_to_append = pd.DataFrame()
    print("curr_edges")
    print(curr_edges)
    print("")
    for index, row in curr_edges.iterrows():
        edges_to_append = edges_to_append.append(raw_edges[raw_edges['src'] == curr_edges['dest'][index]])
    edge1 = edge1.append(edges_to_append)

In [201]:
edge1

     src  dest
184   29    36

In [ ]:
categorySet = set()  # contain unique categories
for index, row in edge1.iterrows():
    categorySet.add(edge1['src'][index])
    categorySet.add(edge1['dest'][index])